/* Enter your custom styles here */

.mybuttonspacing{
    margin-right: 20px;
}

.box{
    background-color: #00264d !important;
    color: white;
    height: 1500rem;
    
}
.box .sapMBarLeft,
.box .sapMBarRight,
.box .sapMBarMiddle,
.box .sapMBtnInner
 {
    color: white !important;
}
.box .sapMBtnInner
 {
    background-color: transparent !important;
}
.customInput .sapMInputBaseContentWrapper {

    border: none !important;
    height: 40px !important;
    background-color: lightgray !important;
    color: black !important; 
    padding: 10px !important;
}


.customInput .sapMInputBase {
    caret-color: black !important; /* Set the cursor color */
}
    

.customInput .sapMInputBaseContentWrapper::placeholder {
    color: black !important;
    opacity: 1;
    }


.customMargin {
    margin-bottom: 25px; /* Adjust the value as needed */
}
.mandatoryStar {
    color: red;
    margin-left: 5px;
}
    


