
.headerTitle {
  height: 2rem;
  display: flex;
   text-align: center;
   justify-content: center;
   margin-top: 1px;
   margin-bottom: 1px;
   font-size: 2rem;
   font-style: normal;
   background-color: darkblue;
   color: rgb(251, 251, 251); /* Blue color */
  }
  
.mainToolBar{
  background-color: #2994ff;
display: flex;
margin-top: 1px;
   margin-bottom: 1px;
   text-align: center;
 justify-content: space-between;
 align-items: center  
}

.centeredTitles {
   display: flex;
   justify-content: center;
  align-items: center;
  }
  
  .smallSpacer {
   width: 10px; /* Adjust this value to control the space between the titles */
  }

    .pageContainer { 
margin: 0 auto; 
max-width: 1400px; 
padding: 10px 10px; 
margin-bottom: 30px !important;
box-sizing: border-box; 
    font-style: normal;
    background: white;   
height: 100vh !important; /* Full height of the viewport */
 overflow: hidden; 

}
      
      .title{
        color: white !important;
        font:100;
        font-size: large;
        font-weight: bold;
        margin: 0 10px;
    }

 
 .hoverableTitle {
  transition: font-size 0.3s ease; /* Smooth transition for the font size change */
}

.hoverableTitle:hover {
  font-size: larger;
  font-weight: bold; 
  color: #f8f7f7 !important; 
}
.enlargedTitle {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #fcfbfb !important; 
  transition: font-size 0.3s ease, color 0.3s ease; 
}

.approve{
  background-color: #319535 !important; 
  color: white !important;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  margin: 5px 5px;
  cursor: pointer;
}

.view{
  background-color: #17ba9f !important; 
  color: white !important;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  margin: 5px 5px;
  cursor: pointer;
}

.reject {
  background-color: #e9281a !important; 
  color: white !important;
  padding: 10px 10px;
  text-align: center;
  font-size: 15px;
  margin: 5px 5px;
  cursor: pointer;
}
.customerDetails{
  padding: 5px;
  margin: 2.5px;
  font-weight: 200;
  font-size: large;
  background-color: #f8f7f7;
}

.font{
  font-size: small;
  font-weight: 100;
  color: black;
}
  
.action {
   display: flex;
   justify-content: center; /* Center the content horizontally */
  width: 100%; /* Ensure the HBox takes full width */
  }
  .font1{
    font-size: large !important;

  }
  


    

  
  
      
    