/* Enter your custom styles here */

.mybuttonspacing{
    margin-right: 20px;
}

.box{
    background-color: #00264d !important;
    color: white;
    height: 1500rem;
    
}
.box .sapMBarLeft,
.box .sapMBarRight,
.box .sapMBarMiddle,
.box .sapMBtnInner
 {
    color: white !important;
}
.box .sapMBtnInner
 {
    background-color: transparent !important;
}